.container {
  background-color: #caffd0;
  width: 100%;
  display: flex;
  z-index: 10;
}

.container ul {
  width: 100%;
  display: flex;
  font-weight: 300;
  align-items: center;
  justify-content: space-around;
  font-family: 'Sriracha', cursive;
}