.container {
  align-items: center;
  background-color: antiquewhite;
  opacity: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container header {
  display: flex;
  margin-bottom: 21px;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container h1 {
  margin: 0;
  margin-bottom: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container h3 {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}

.container span {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  align-items: center;
}

.container div {
  width: 100%;
}

.container span button,
.container span a {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.container span button,
.container span a {
  cursor: pointer;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.container>section article {
  padding: 0;
  width: 100%;
  min-height: 140px;
  border-radius: 5px;
  margin: 4px 0px 14px;
}

.container>section h1 {
  font-size: 21px;
}

.container>section article p {
  text-indent: 0px;
}