@import url('https://fonts.googleapis.com/css2?family=Sriracha&family=Ubuntu:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Ubuntu', sans-serif;
  width: 100%;
  /* background: url('./assets/icons/CosmicCueBackground.png') */
  /* background: url('./assets/icons/GreenStars.jpg') */
}

#root {
  height: 100vh;
}

main {
  margin: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

main div {
  background-color: white;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size: 28px;
  font-family: 'sriracha';
}

h2 {
  font-size: 20px;
  font-weight: 400;
}

h4 {
  font-size: 18px;
  font-weight: 400;
}

a {
  color: #1e1014;
  font-weight: 300;
  text-decoration: none;
  border-radius: 10px;
  /* padding: 10px; */
}

a:hover {
  color: #69587d;
  /* background-color: #1e1014; */
  font-weight: 400;
  text-decoration: none;
  border-radius: 10px;
  /* padding: 10px; */
}

.randomFortune {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  background-color: #FAF9F6;
  padding: 10%;
}

button {
  background-color: #1E1014;
  color: #b4a0e5;
  font-size: 16px;
  font-weight: bold;
}

button:hover {
  background-color: #b4a0e5;
  ;
  color: #1E1014;
  font-size: 16px;
  font-weight: bold;
}

.editButton {
  background-color: #b4a0e5;
  display: flex;
  justify-content: center;
}

.profiles {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.profilesOne {
  border: black solid .05px;
  border-radius: 10px;
  width: 45%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FAF9F6;
}

.profilesTwo {
  border: black solid .05px;
  border-radius: 10px;
  width: 45%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FAF9F6;
}

/* img{
    height: auto;
    width: 80%;
    object-fit: cover;
  } */

.myProfile {
  padding: 20px;
  font-family: 'Ubuntu', sans-serif;
  background-color: #eae6f3;
  display: flex;
}

.profileImages {
  background-color: #FAF9F6;
  padding: 20px;
}

.fortuneLinks {
  display: flex;
  flex-direction: column;
}

.fortuneLinks a {
  color: #1E1014;
  background-color: #b4a0e5;
  padding: 5px;
  margin: 10px;

}

.fortuneLinks a:hover {
  color: #1E1014;
  background-color: #FAF9F6;
}

.fortuneList {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fortuneListContainer {
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  font-family: 'sriracha';
  border-radius: 15px;
  background-color: #b4a0e5;
}

.fortuneListOne {
  width: 50%;
  height: 50%;
  margin: auto;
}

.fortuneListTwo {
  width: 50%;
  height: 50%;
  margin: auto;
  display: flex;
  justify-content: center;

}

form {
  padding: 16px 32px;
  background-color: grey;
  border-radius: 15px;
  border: .05px solid black;
  display: flex;
  flex-direction: column;
  background-color: #eae6f3;
}

form label {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  padding: 8px;
}

form input {
  padding: 8px;
  border-radius: 5px;
}

form button {
  padding-top: 16px;
  margin-top: 16px;
}

.randomSign {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 75%;
}